#container {
    width: 100%;
    height: auto;
}

.header {
    text-align: center;
    margin-top: 50px;
}

#row {
    display: flex;
}

#col {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #1E1E1E;
    color: #FFF;
    border: none;
}

form button:hover {
    background-color: #2F2F2F;
}

#added-tasks ul {
    display: flex;
    flex-direction: column;
}

#added-tasks li {
    margin: 15px 0;
    position: relative;
}

.cancel-task {
    position: absolute;
    right: 0;
    color: #FFF;
    background-color: #1E1E1E;
    border-radius: 50%;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
}

.cancel-task:hover {
    background-color: #2F2F2F;
}